@charset "UTF-8";

body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #2E338C, #3299D9, #36ABD9, #403C01);
    background-attachment: fixed;
    height: 100vh;    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: inherit;   
    color: inherit;
    border: none; 
}

#cover {
    width: 450px;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;
}

#controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-size: 1.5em;
}

.button-navigate {
    font-size: 3em;
}

.button-biggest {
    font-size: 4em;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 3em 0
}

#song-name {
    font-size: 1.5em;
    font-weight: bolder;
}

#band-name {
    font-size: 1.2em;
    font-weight: lighter;
}

.light-color {
    color: #eee8907d;
}

#progress-bar {
    background-color: #eee8906d;
    height: 3px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

#current-time {
    background-color: white;
    height: inherit;
    width: 50%;
    border-radius: inherit;
}