header {
    background-color: aquamarine;
    padding: 10px;
}

img {
    display: block;
    margin: auto;
    height: 150px;
}

#botao-calcular {
    font-size: 16px;
    margin: 20px 140px;
}

.total {
    padding: 20px;
    margin: 90px 50px 50px 200px;
    height: 200px;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
}