header {
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: auto;
    height: 150px;
}

#botao-calcular {
    font-size: 16px;
    margin: 20px 140px;
}

article {
    padding: 20px;
    margin: 50px 50px 50px 200px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 20px;
}

input {
    text-align: center;
}